* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại font chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* thuộc tính chung */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
  line-height: 50px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  background: #fffcf4;
  top: -28px;
}

.header.fixed {
  position: sticky;
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
